<style >
    #demo{display:fixed}
    body{max-width:1170px} *{margin:0;padding;padding:0}#demo{width:100%;background:#111;padding:10px}
   button{outline:none;padding:10px 26px;border;2px solid #aaa;background:transparent;color:white;font-size:20px;width:160px;margin-left:80px;}
    #middle{width:70px;height:70px;background:purple;border-radius:50%;margin:5px;position:fixed}
    #btn{margin-top:200px}#btn #butt{background:purple;border-radius:20px;box-shadow:4px 6px 10px #ddd}
    #shop{margin-top:30px;texto-align:center}
    h2{padding:10px}
    #graph{width:80%;;border:2px solid orange;margin:auto}
    #image{width:25%;display:inline-block;padding:3px}
    #graph #image img{width:100%;}
   
    #imag{width:20%;display:inline-block;padding:2px;margin:3px}
    #imag img{width:100%;}
    #ima{width:30%;display:inline-block;}
#graph #ima img{width:100%}
#ccc{background:purple;width:90%;border:none;margin:12px} 
#cc{width:100%;margin-top:20px}
#pagin li{list-style:none;width:20px;height:20px;background:#111;display:inline-block;margin:2px;border-radius:50%;border:2px solid #999}#pagin{width:60%;margin:auto}
 #pagin li:hover{background:green}
 #ss{color:#788333;font-size:30px}
 #shop h3{color:#993300}
 #slider{width:200px;background:#333;display:none}
 #slider input {border:1px solid #333;padding:6px}
 h2{color:black}
 #shop{margin:auto;text-align:center;margin-bottom:20px}
 #logog{color:black;z-index:1px}
 #align_contain{}
 #logog {
    width: 400px;
    margin: auto;
}
#fixed:hover{background:blue;border:none;outline:none:transition:2s}
</style>